<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--  비동기 사용  -->
    <script>
        function updateCompleted(todoId, Checked) {
            fetch(`/todo/update/${todoId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded' // form 데이터를 URL 인코딩하여 전송
                },
                body: `completed=${Checked}`
            }).then(response => {
                if (!response.ok) {
                    alert("업데이트 실패");
                }
            });
        }
    </script>
</head>
<body>
<div class="container">
    <div class="title">
        <h1>💜 투두 리스트 🤍</h1>
        <br>
        <form th:action="@{/todo/add}" method="post" class="add-form">
            <input type="text" name="content" placeholder="새할일 작성"/>
            <button id="add-task" type="submit">추가</button>
        </form>
    </div>
    <div class="todo-table">
        <table>
            <thead>
            <tr>
                <th>할 일</th>
                <th>완료여부</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo:${todos}">
                <td th:text="${todo.content}"></td>
                <td>
                <input type="checkbox" th:checked="${todo.completed}"
                       th:id="${todo.id}"
                       onchange="updateCompleted(id, checked)"/>
                </td>
                <td>
                    <form th:action="@{/todo/delete/{id}(id=${todo.id})}" method="post">
                        <button id="delete-task" type="submit">
                            삭제
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>